<html>
    <head>
        <title>Chushi | Checkout</title>
        <meta content="text/htmlcharset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link rel = "stylesheet" type = "text/css" href= "styles.css">

    </head>

    <body>
        <header>
            <div id="brand">
                <img id="logo" src="img/logo.png">
                <span id="name">CHUSHI</span>
            </div>

            <div id="tabs1">
                <div><a href="home" method="get">HOME</a></div>
                <div><a href="catalog" method="get">PRODUCTS</a></div>
                <div><a href="ordertracker" method="get">ORDER TRACKER</a></div>
                <div><a href="history" method="get">HISTORY</a></div>
                <div><a class="selected" href="cart" method="get">CART</a></div>
                <div><a href="myaccount" method="get">MY ACCOUNT</a></div>
            </div>
        </header>

        <main id="checkout-cart">
            <div class="checkout-header">CHECKOUT</div>

            <div class="checkout-main">
                <div class="checkout-address">
                    <div class="checkout-address-header">Shipping Address</div>
                    <div class="checkout-address-user">{{street}}, {{bldg}}, {{city}}

                        <div class="checkout-new-address" id="new-address-btn">+ New Address</div>
                    </div>
                </div>

                <div class="checkout-payment">
                    <div class="checkout-payment-header">Payment Method</div>
                    <div class="checkout-payment-method">
                        <form id="payment" action="place_order" method="post">
                            <label class="checkmark-payment"><input class="payment" type="radio" name="payment" value="Cash on Delivery"> Cash on Delivery</label>
                            <label class="checkmark-payment"><input class="payment" type="radio" name="payment" value="Credit Card"> Credit Card(Visa/Mastercard)</label>
                            
                            {{!-- <input type="hidden" name="order_name" value={{order}}> --}}
                        </form>
                        
                    </div>
                </div>

                <div class="checkout-date">
                    <div class="checkout-date-header">Delivery Date & Time</div>
                    <div class="checkout-date-time">{{date}}</div>
                </div>


                <div class="order-summary">
                    {{#if quantity}}
                        <div class="order-summary-header">Order Summary
                            <div class="order-items">{{quantity}} Item(s) in Cart</div>
                        </div>
                    {{/if}}
                    

                    <div class="order-summary-main">

                        {{#each order}}
                            {{#if qty6x6}}
                                <div class="order-summary-list">
                                    <div class="order-item">{{name}} (6x6 inches)</div>
                                    <div class="order-price">₱  {{price6x6}}</div>
                                    <div class="order-quantity">Qty: {{qty6x6}}</div>
                                </div>
                            {{/if}}

                            {{#if qty7x8}}
                                <div class="order-summary-list">
                                    <div class="order-item">{{name}} (7x8 inches)</div>
                                    <div class="order-price">₱  {{price7x8}}</div>
                                    <div class="order-quantity">Qty: {{qty7x8}}</div>
                                </div>
                            {{/if}}

                            {{#if qty10x12}}
                                <div class="order-summary-list">
                                    <div class="order-item">{{name}} (10x12 inches)</div>
                                    <div class="order-price">₱  {{price10x12}}</div>
                                    <div class="order-quantity">Qty: {{qty10x12}}</div>
                                </div>
                            {{/if}}
                        {{/each}}
                        
                        <div class="order-subtotal-list">
                            <div class="order-cart-subtotal-label">Cart Subtotal</div>
                            <div class="order-cart-subtotal">₱  {{subtotal}}</div>
                        </div>


                        <div class="order-total">
                            <div class="order-total-label">Order Total</div>
                            <div class="order-total-price">₱  {{subtotal}}</div>    
                        </div>

                        <div class="place-order">
                            Place Order
                        </div>
                    </div>
                </div>

            </div>



            <div id="address-modal" class="modalAddress">
                <div class="modalAddress-content">
      
                    <div class="modalAddress-header">
                        <h2>CHANGE NEW ADDRESS</h2>
                        <span class="address-closeBtn">&times;</span>
                    </div>
                    
                    <div class="modalAddress-body">
                        <form id="form-add-address" action="new-address" method="post">
                            <input id="inputStreet" placeholder="Input street of address" type="text" name="new_street">
                            <input id="inputBldg" placeholder="Input building and room of address" type="text" name="new_bldg">
                            <input id="inputCity" placeholder="Input city of address" type="text" name="new_city">
                            <div class="modalAddress-footer">
                              <input id="submit-address" type="submit" value="CHANGE">
                          </div>
                        </form>
                    </div>
      
                    
                </div>
            </div>

        </main>

        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
        <script  src="checkout.js"></script>


    </body>
</html>