<html> 
        <header>
            <div id="brand">
                <img id="logo" src="img/logo.png">
                <span id="name">CHUSHI</span>
            </div>

            <div id="tabs1">
                <div><a href="home" method="get">HOME</a></div>
                <div><a href="catalog" method="get">PRODUCTS</a></div>
                <div><a href="" method="get">USERS</a></div>
                <div><a href="inventory" method="get">INVENTORY</a></div>
                <div><a class="selected"href="orders" method="get">ORDERS</a></div>
                <div class="signout-tab"><a href="signout" method="get">SIGN OUT</a></div>
            </div>
        </header>

        <body>
            <div class="orders">
                <div id="orders-list">">{{#each orders}}{{this.address}}{{this.date}}{{this.number}}{{this.order}}{{this.ordered_by}}{{this.payment}}{{this.progress}}{{this.time}}<br>{{/each}}</div>
            </div>
        </body>
         <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>

        <!-- STORAGE VIDEO -->
        <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-storage.js"></script>


        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-auth.js"></script>
        <script src="orders.js"></script>
        
</html>
        