<html>
    <head>
        <title>View Products</title>
        <meta content="text/htmlcharset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link rel = "stylesheet" type = "text/css" href= "styles.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    </head>

    <body>
        <header>
            <div id="brand">
                <img id="logo" src="img/logo.png">
                <span id="name">CHUSHI</span>
            </div>

            <div id="tabs1">
                <div><a href="home" method="get">HOME</a></div>
                <div><a href="catalog" method="get">PRODUCTS</a></div>
                <div><a class="selected" href="users" method="get">USERS</a></div>
                <div><a href="inventory" method="get">INVENTORY</a></div>
                <div><a href="orders" method="get">ORDERS</a></div>
                <div class="signout-tab"><a href="signout" method="get">SIGN OUT</a></div>
            </div> 
        </header>

        
        <main id="users-main">
            <div class="users-main-header">Manage Users</div>
            <div class="users-main-body">
                <div class="users-main-body-head">Name</div>
                <div class="users-main-body-head">Email</div>
                <div class="users-main-body-head">Mobile Number</div>
                <div class="users-main-body-head">Role</div>
                <div class="users-main-body-head">User Since</div>
            </div>
            
            {{#each users}}
                <div class="users-main-list">
                    <div class="users-list">{{first_name}} {{last_name}}</div>
                    <div class="users-list">{{email}}</div>
                    <div class="users-list">+{{mob_num}}</div>
                    <div class="users-list">{{role}}</div>
                    <div class="users-list">{{date_start}}</div>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/></svg>
                </div>
            {{/each}}
            
            
        </main>
        
    
        {{!-- <div class="users-main-list">
                <div class="users-list">Niall Dela Cruz</div>
                <div class="users-list">delacruzniall@gmail.com</div>
                <div class="users-list">+639173082020</div>
                <div class="users-list">Client</div>
                <div class="users-list">August 8, 2020</div>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/></svg>
            </div> --}}

    


    </body>
</html>